{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-sm-4">
            {% for image in images %}
                {% if image.featured %}
                    <div class="col-xs-12">
                        <img class="img-responsive" src='{{ "/media/" }}{{ image.image }}'>
                        <hr>
                    </div>
                {% endif %}
            {% endfor %}
            {% for image in images %}
                {% if not image.featured %}
                    <div class="col-xs-6">
                        <a href="#" class="thumbnail">
                            <img class="img-responsive" src='{{ "/media/" }}{{ image.image }}'>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-8">
            <div class="col-sm-8 pull-left">
                <h1>{{ product.title }}</h1>
            </div>
            <div class="col-sm-4 pull-right">
                <form class="form" action="{% url "add_to_cart" product.slug %}" method="POST">
                    {% csrf_token %}
                    <input class="form-control" type="number" name="qty" VALUE="1" placeholder="quantity">
                    {% if product.variation_set.all %}
                        {% if product.variation_set.sizes %}
                            <select class="form-control" name="size">
                                {% for item in product.variation_set.sizes %}
                                    <option value="{{ item.title|lower }}">{{ item.title|capfirst }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                        {% if product.variation_set.colors %}
                            <select class="form-control" name="color">
                                {% for item in product.variation_set.colors %}
                                    <option value="{{ item.title|lower }}">{{ item.title|capfirst }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    {% endif %}
                    <input type="submit" value="Add to Cart" class="btn btn-default btn-block">
                </form>
            </div>
            <div class="col-sm-12">
                <hr/>
                <strong>Price : </strong>{{ product.price }}
                Shopping Free with $25+purchase.
                <hr/>
            </div>
            <div class="col-sm-12">
                {{ product.description|linebreaks }}
            </div>
        </div>
    </div>

{% endblock %}